[Unit]
Description=Firewerx Web Service
After=network.target

[Service]
WorkingDirectory=/home/pi/firewerx/rel/firewerx
Environment=HOME=/home/pi/firewerx/rel/firewerx
Environment=PORT=8088
EnvironmentFile=/home/pi/firewerx/firewerx.env
ExecStart=/home/pi/firewerx/rel/firewerx/bin/firewerx start 
ExecStop=/home/pi/firewerx/rel/firewerx/bin/firewerx stop
User=pi
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

